.App {
  text-align: center;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  margin-left: 50px;
}
.profile-container {
  display: grid;
  width: 200px;
  height: fit-content;
}
.profile-picture {
  width: 100px;
  height: 100px;
  position: relative;
}
.artist-container {
  display: grid;
  grid-template-columns: 250px;
}
.artist {
  margin-bottom: 5px;
  display: grid;
  height: 100px;
  grid-template-columns: 100px 100px;
  vertical-align: middle;
}
.song-container {
  display: grid;
  grid-template-columns: 250px;
}
