.App {
  text-align: center;
}
.header {
  width: 100%;
  height: 75px;
  background-color: rgb(24, 24, 28);
  display: table;
}
.header-text {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.login-logout {
  position: absolute;
  top: 22px;
  left: 30px;
  margin: 0;
  margin-right: 50px;
  background-color: rgb(48, 48, 78);
  border: none;
  color: lightgray;
  width: 75px;
  height: 35px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  margin-left: 50px;
  vertical-align: middle;
  grid-template-columns: 300px 350px 350px;
}
.profile-container {
  display: table;
  width: 200px;
  height: fit-content;
}
.profile-picture {
  width: 100px;
  height: 100px;
  position: relative;
}
.artist-container {
  display: table;
  vertical-align: middle;
}
.artist {
  margin-bottom: 5px;
  display: table;
  /* grid-template-columns: 100px 100px; */
  grid-gap: 10px;
  vertical-align: middle;
}
.artist-name {
  width: 100px;
  height: 100px;
  display: table-cell;
  position: relative;
  vertical-align: middle;
}
.song-container {
  text-align: start;
  display: table;
}
.song {
  display: table;
  vertical-align: middle;
  grid-template-columns: 25px 250px;
  margin-bottom: 7px;
}
.song-picture {
  display: table-cell;
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
.song-name {
  vertical-align: middle;
  display: table-cell;
  width: 250px;
  margin: 7px;
}
